<!DOCTYPE>
<html>
<head>
	<title>Serve The Earth</title>
	<link rel="stylesheet" type="text/css" href="style.css">
 
  <link rel="stylesheet" href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
</head>

<body ng-app='ui.bootstrap.demo'>

  <div class='background'></div>
    <h1 id="earthHead"> Serve The Earth </h1>
  </div>
  
  <div ng-controller="ProgressDemoCtrl">

    
  <div class='fund' ng-repeat = "progress in progressResult"> 
      <h2> {{progress.fund}}</h2>
    <div class='myProgress'>
      <div class="bar" ng-style="{width: (getPercentage() + '%' )}">
          <!-- show calculated percentage if total amount raised is <= 100% -->
          <span class="percent" ng-show="((progress.raised / progress.goal) * 100) <= 1000">{{((progress.raised / progress.goal) * 100) | number:0}}%</span>
          <!-- show maximum percentage if total amount raised is > 100% -->
          <span class="percent" ng-show="((progress.raised / progress.goal) * 100) > 1000">100%</span>
         
          
      </div>
  </div>
          <span class="goal">Raised: ${{progress.raised | number:0}} &nbsp;&compfn;&nbsp; Goal: ${{progress.goal | number:0}}</span>
          <!--<a class="donate" ng-href="{{progress.link}}"> &raquo;</a>-->
          <progressbar animate="false" value="((progress.raised / progress.goal) * 100)"  type="success"><b>{{((progress.raised / progress.goal) * 100) | number:0}}%</b></progressbar>
          <h6 class = 'donateButton2'>
          <input ng-model='progress.donation' placeholder='$'></h6>
         <a href=''
          <h3><a href='https://www.paypal.com/us/cgi-bin/webscr?cmd=_flow&SESSION=ut_ABvqOHQGeUZBazPYMEQLn3C2HebIbnrI5ETjPkiwSQnnBM7bcBcXn0ey&dispatch=5885d80a13c0db1f8e263663d3faee8d66f31424b43e9a70645c907a6cbd8fb4'button class="donateButton" type="button" ng-click="donate($index, donation)">Donate!</a> </h3>
        

<!--<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_donations">
<input type="hidden" name="business" value="letsserveearth@gmail.com">
<input type="hidden" name="lc" value="US">
<input type="hidden" name="item_name" value="Serve The Earth">
<input type="hidden" name="no_note" value="0">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>-->



         

          

</div>
  

     <!-- code that might be used later, I dont want to delete it quite yet-->
      <!--<input ng-model='donation.amount'>
      <button ngclick='addDonate'('donation.amount', 'progress')><em>Donate</em>
    </div> -->

   <!-- <small><em>Object (changes type based on value)</em></small>
    <progressbar class="progress-striped active" value="dynamic" type="{{type}}">{{type}} <i ng-show="showWarning">!!! MONEYYYYY!!!</i></progressbar> -->
    
   <!-- <hr />
    <h3>Stacked <button class="btn btn-sm btn-primary" type="button" ng-click="randomStacked()">Randomize</button></h3>
    <progress><bar ng-repeat="bar in stacked track by $index" value="bar.value" type="{{bar.type}}"><span ng-hide="bar.value < 5">{{bar.value}}%</span></bar></progress> -->

</div>


    <div class='mission'> Our Mission</div>

     <div class='aboutUs'>
        "Serve The Earth", is a web-app dedicated to helping others. We all want to serve others but sometimes we just don't know how or where to go? "Serve The Earth" allows everyone to serve, by donating money that will help provide items to people that need them. Every week it seems there is another disaster somewhere in the world. Whenever you turn on the news we hear about earthquakes, fires, diseases, deaths, and multiple other disasters and that just doesn't include natural disasters. We look at the supplies people need and donate to them according to their needs. "Serve The Earth" makes that possible. Every three weeks or so we will find a new cause to help with, and each cause will have specific items that you can donate money to that will help someone in need. It doesn't matter how much you donate, even a dollar will help the world know that we care.
    </div>


    
      <h3 class='why'> Hope for the holidays</h3>

     <div class='who'>
     This donation period we are going to donate to the country of Africa. Africa has felt many hardships and in recent months have been affected by ebola. We wanted to give to a country that was facing hard times and feel like we can help the people of Africa in there of need have a  hope for the newyear. For this donation period we wanted to donate bikes, first aid kits, and water filters.
   </div>

   <div class='list'>
     <d1>
      <img src="images/africa.jpg" alt='kids' width='310' height='340' align='right'/>
      <dt>Bikes</dt> 
         <dd>We want to donate bikes to help those without transportation, not only does it make it easier to get around it it is also safer in many ways. Families will be able to get where they need to in a fast and reliable way.</d>
      <dt>First Aid Kits</dt>
         <dd>First aid kits help improve the lives of everyone by providing healthy means of getting your body the proper care it needs when needed. No one should have to worry about a small cut getting infected to the point where you need to be hospitalized. This will help many provide a safer and healty life.</dd>
      <dt>Water Bottles</dt> 
         <dd>filters provides a way make water drinkable and accesable. We want to provide water bottles that can do that for you. With these water bottles not only will it help health wise it will help families rest easy at night knowing there going to be ok.</dd>
    
    </d1>
    
   </div>
   <div class='donateTo'>

   <p><a href ='#earthHead'><button class='donate' type='button'>Donate Today</button></a></p>
   <h6 class='contact'>Contact us at <a href='mailto:letsserveearth@gmail.com'>letsserveearth@gmail.com</a></h6>
 </div>




  <!--<h2> Donate Today</h2>-->

   <script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js'></script>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.2/ui-bootstrap-tpls.min.js'></script>
  <script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/0.8.2/angularfire.min.js"></script>
  <script src="js/app.js"></script>
  <script src='js/controllers/mainCtrl.js'></script>
  
  
 
  
     		

</body>
</html>