/*@import url(http://fonts.googleapis.com/css?family=Aldrich);*/

body{
  background-image: url("images/mountains.jpg");
  
}

/*.background{
  background-image: url("images/backgroundImg.jpg");
}*/

.earthHead{
  text-align: center;
  font-size: 30px;
  border: 2px solid black;
  box-shadow: 10px 10px 5px black;
  background-color: white;
  border-radius: 20px;
  background-color: transparent;
  color: silver ;
  text-indent: 20px;
}


 .progress{
    position:relative;
    display: block;
    width:560px;
    height: 30px;
    border-bottom: 1px solid rgba(255,255,255,0.25);
    border-radius: 16px;
    margin: 40px auto;
    color: black;
    background-color: gray;
    margin:40px auto;
   overflow: hidden;
   text-align: center;
}
  .progress-bar{
     width: 50%;
    height: 100%;
    background: #efefef;
    transition: width 0.8s ease;

  }
  .donateButton{
    background-color: silver;
   

  }
 





