/*@import url(http://fonts.googleapis.com/css?family=Aldrich);*/

body{
  background-image: url("images/kids.jpg");
  text-align: center;
  font-size: 14px;
  color: #333;

}

/*.background{
  background-image: url("images/backgroundImg.jpg");
}*/

.earthHead {
  text-align: center;
  font-size: 79px;
  border: 2px solid white;
  border-radius: 20px;
  background-color: transparent;
  text-indent: 20px; 
  color: white;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.3);
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  margin: 20px 0px 60px 0px;
  padding: 20px 50px;
}



 .progress{
    position:relative;
    display: block;
    width:300px;
    height: 30px;
    border-bottom: 1px solid rgba(255,255,255,0.25);
    border-radius: 16px;
    
    color: black;
    background-color: gray;
    margin:9px 0px 0px 0px;
   overflow: hidden;
   text-align: center;
}
  .progress-bar{
     width: 50%;
    height: 100%;
    background: #efefef;
    transition: width 0.8s ease;

  }
  /*.donateButton{
    text-align: center;
    font-size: 24px;
    border: 2px solid white;
    color: white;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.3);
    font-family: 'Indie Flower', cursive;
    display: inline-block;
    margin:10px auto;
    padding:10px 30px;
    background-color: silver;
    border-radius: 16px;
     

  }*/

  .fund{
  text-align: center;
  font-size: 22px;
  border: 2px solid white;
  border-radius: 20px;
  background-color: white;
  opacity: 0.92;
  filter: alpha(opacity=80);
  color: black;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  overflow: hidden;
  margin: 10px 30px 5px 30px;

  
 
  }

  .bar{
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 27px;
    text-align: center;
    display: inline-block;
  }

.donateButton{
    text-align: center;
    font-size: 18px;
    border: 2px solid white;
    color: white;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.3);
    font-family: 'Indie Flower', cursive;
    display: inline-block;
    margin:10px auto;
    padding:10px 30px;
    background-color: black;
    border-radius: 16px;
     

  }

.donateButton2{
  color: black;
   font-family: bold;
   font-size: 22px;
   background-color: white;
}


.ptag{
   background-image: url("images/kids.jpg");
  color: white;
  font-size: 22px;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  
}
